@use "styles/variables" as var;
@use "styles/mixins" as mixins;

.carousel {
  position: relative;
  width: 100%;
  margin-top: 75px;
  background-color: var(--creame-color);

  &__wave {
    top: -12px;
    bottom: auto;
    transform: scaleY(-1);
  }

  @media (min-width: var.$bigger-tablet) {
    margin-top: 150px;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 25px;

    @media (min-width: var.$bigger-tablet) {
      height: 500px;
      margin-top: 60px;
    }
  }

  &__hand {
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;

    @include mixins.background-image(
      $image: "assets/images/initial/carousel-hand.png",
      $size: contain
    );
  }
}
