@use "styles/variables" as var;
@use "styles/mixins" as mixins;

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 75px;
  background-color: var(--creame-color);

  .features__wave {
    top: -12px;
    bottom: auto;
    transform: scaleY(-1);
  }

  @media (min-width: var.$bigger-tablet) {
    margin-top: 150px;
  }
}
