@use "styles/variables" as var;

.community {
  width: calc(100% - var(--gap) * 2);
  $double-gap: calc(var(--gap) * 2);

  padding: $double-gap;
  margin-top: 50px;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
  }

  &__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-color);
    padding: $double-gap 0;
    border-radius: var(--gap);
    gap: $double-gap;

    @media (min-width: var.$bigger-tablet) {
      flex-direction: row;
      gap: 0;
      width: auto;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: var(--gap);
    padding: 0 $double-gap;

    @media (min-width: var.$bigger-tablet) {
      border-right: 1px solid var(--grey-color);
      width: 230px;
    }

    &:last-child {
      border: none;
    }
  }

  &__left {
    width: 40px;
    height: 40px;
    fill: var(--violett-color);

    @media (min-width: var.$bigger-tablet) {
      width: 55px;
      height: 55px;
    }
  }
}
