@use "styles/variables" as var;
@use "styles/mixins" as mixins;
@use "mixins" as localMixins;

.notero {
  $double-gap: calc(var(--gap) * 2);

  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  width: 100%;

  @media (min-width: var.$desktop) {
    padding-top: 150px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    @include mixins.background-image(
      $image: "assets/images/initial/notero-web.png",
      $size: contain
    );
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);

    @media (min-width: var.$desktop) {
      flex-direction: row;
    }
  }

  &__left,
  &__right {
    @media (min-width: var.$desktop) {
      flex: 1;
    }
  }

  &__left {
    @include localMixins.half-container-image(
      "assets/images/initial/notero-ipad.png"
    );
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: $double-gap;

    p,
    a {
      align-self: flex-start;
    }
  }

  &__description {
    line-height: 30px;

    br {
      display: none;

      @media (min-width: var.$bigger-tablet) {
        display: block;
      }
    }
  }

  &__benefit {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      background-color: var(--creame-color);
      border-radius: 50%;
    }

    svg {
      fill: var(--violett-color);
    }

    p {
      align-self: center;
    }
  }
}

.notero__animation {
  @include localMixins.rotate-center(
    15%,
    "assets/images/initial/notero-bubbles.png"
  );
}
