@use "styles/variables" as v;

.partners {
  $double-gap: calc(var(--gap) * 2);
  z-index: var(--nice-index);

  width: 100%;
  position: relative;
  background-color: var(--creame-color);

  &__wave {
    top: -200px;

    @media (min-width: v.$bigger-mobile) {
      top: -240px;
    }

    @media (min-width: v.$bigger-tablet) {
      top: -180px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: $double-gap;
    border-bottom: 2px solid var(--grey-color);
  }

  &__heading {
    z-index: var(--bigger-than-nice-index);
    margin-bottom: $double-gap;
  }

  &__links {
    margin: $double-gap 0;
    width: 100%;
    display: flex;
    z-index: var(--bigger-than-nice-index);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  &__link {
    img {
      filter: grayscale(1);
      opacity: 0.6;
    }

    &:hover,
    &:focus,
    &:active {
      img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}
