@use "./styles/global";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@700&display=swap");

html {
  background-color: var(--white-color);
  color: var(--black-color);
  font: var(--font);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black-color);
  transition: var(--transition);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--black-color);
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
