@use './styles/global';

html {
  background-color: aqua;
  color: var(--black-color)
}

body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
