@use "variables" as var;

.button {
  --size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--gap);
  height: var(--size);
  border: 1px solid var(--grey-color);

  color: var(--black-color);
  transition: var(--transition);
  border-radius: var(--size);
  font: var(--smaller-font);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    border-color: var(--violett-color);
    background-color: var(--violett-color);
    color: var(--white-color);

    svg {
      fill: var(--white-color);
    }
  }

  &_round {
    padding: 0;
    width: var(--size);
    border-radius: 50%;
  }

  &_active {
    border-color: var(--violett-color);
    background-color: var(--violett-color);
    color: var(--white-color);

    svg {
      fill: var(--white-color);
    }
  }

  &_bigger {
    height: calc(var(--size) * 1.15);
    padding: 0 calc(var(--gap) * 1.5);
  }

  @media (min-width: var.$bigger-tablet) {
    --size: 40px;
  }

  &_white {
    background-color: var(--white-color);
    color: var(--black-color);
    height: 20px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}
