@use "variables" as var;

.button,
.button-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  --size: 30px;

  padding: 0 var(--gap);
  height: var(--size);
  border: 1px solid var(--grey-color);

  color: var(--black-color);
  transition: var(--transition);
  border-radius: var(--size);
  font: var(--smaller-font);
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    border-color: var(--violett-color);
    background-color: var(--violett-color);
    color: var(--white-color);

    svg {
      fill: var(--white-color);
    }
  }

  &_round {
    padding: 0;
    width: var(--size);
    border-radius: 50%;
  }

  &_active {
    border-color: var(--violett-color);
    background-color: var(--violett-color);
    color: var(--white-color);

    svg {
      fill: var(--white-color);
    }
  }

  &_bigger {
    height: calc(var(--size) * 1.15);
    padding: 0 calc(var(--gap) * 1.5);
  }

  @media (min-width: var.$bigger-tablet) {
    --size: 40px;
  }

  &_white {
    background-color: var(--white-color);
    color: var(--black-color);
    height: 20px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

.button-svg {
  --size: 45px;
  --local-gap: 7px;

  padding: 0 calc(var(--gap) * 1.2);
  height: var(--size);
  border-radius: var(--size);

  background-color: var(--creame-color);

  &__left {
    height: 50%;
    border-right: 1px solid var(--grey-color);

    img {
      padding-right: var(--local-gap);
      height: 23px;
    }
  }

  &__right {
    padding-left: var(--local-gap);
  }

  p {
    line-height: 15px;
  }

  @media (min-width: var.$bigger-tablet) {
    --size: 60px;
    --local-gap: 10px;

    img {
      height: 28px;
    }

    p {
      line-height: 18px;
    }
  }
}

.button-dropdown {
  width: 280px;
  padding: var(--gap);
  border-radius: 6px;

  @media (min-width: var.$bigger-mobile) {
    width: 360px;
  }

  @media (min-width: var.$bigger-tablet) {
    width: 469px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
  }

  &__bottom {
    display: none;
  }

  &_active {
    background-color: var(--creame-color);
    color: var(--violett-color);

    .button-dropdown__bottom {
      display: block;
      margin-top: var(--gap);
      text-align: left;
      color: var(--black-color);
    }

    svg {
      transform: scaleY(-1);
      fill: var(--violett-color);
    }
  }
}
