footer {
  margin-top: auto;

  .footer__container {
    gap: calc(var(--gap) * 2);
    padding: calc(var(--gap) * 2) 0;
  }

  .footer__container,
  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__top {
    gap: var(--gap);
  }

  .footer__center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap) 0;
    border-bottom: 2px solid var(--grey-color);
  }

  .footer__language {
    width: 208px;
  }

  .footer__buttons {
    display: flex;
    gap: var(--gap);
    margin: calc(var(--gap) * 2) 0;
  }

  .footer__bottom {
    a {
      text-decoration: underline;
    }
  }
}
