@use "variables" as v;

footer {
  position: relative;
  margin-top: 169px;
  background-color: var(--creame-color);

  .footer__container {
    gap: calc(var(--gap) * 2);
    padding: calc(var(--gap) * 2) 0;
  }

  .footer__container,
  .footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__top {
    gap: var(--gap);
  }

  .footer__center {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap) 0;
    border-bottom: 2px solid var(--grey-color);

    @media (min-width: v.$tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer__navigation ul {
    flex-wrap: wrap;

    li {
      display: flex;
      width: 80px;
      align-self: start;
    }

    @media (min-width: v.$tablet) {
      justify-content: space-around;
    }

    @media (min-width: v.$desktop) {
      li {
        width: auto;
      }
    }
  }

  .footer__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: calc(var(--gap) * 2) 0;

    @media (min-width: v.$bigger-mobile) {
      flex-direction: row;
    }
  }

  .footer__button {
    white-space: nowrap;
  }

  .footer__bottom {
    a {
      text-decoration: underline;
    }
  }
}

.footer__wave {
  position: absolute;
  top: -169px;
  left: -3px;
  right: -3px;
  height: 269px;
  background-image: url("assets/images/footer_wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  animation: wave 2s ease-in-out infinite alternate both;

  @keyframes wave {
    0% {
      transform: rotate(1deg) scaleX(-1);
    }

    100% {
      transform: rotate(-1deg) scaleX(-1);
    }
  }
}
