@use "variables" as var;
@use "styles/mixins" as mixins;

.top-banner {
  width: 100%;
  min-height: 45px;
  @include mixins.background-image("assets/images/top_nav_background.png");
  margin-bottom: -30px;
  padding-bottom: 30px;
  font: var(--smallest-font);
  color: var(--white-color);

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    gap: var(--gap);
    text-align: center;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
  }
}

header {
  --top-radius: 30px;

  background-color: var(--white-color);
  border-top-right-radius: var(--top-radius);
  border-top-left-radius: var(--top-radius);

  padding: var(--gap) 0;

  .header__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    @media (min-width: var.$tablet) {
      flex-direction: row;
    }
  }

  .header__triggers {
    display: flex;
    justify-content: space-between;
  }

  .header__mobile-trigger {
    transition: var(--transition);

    svg {
      width: 35px;
      height: 35px;
    }

    &:hover,
    &:focus,
    &:active,
    &_active {
      svg {
        fill: var(--violett-color);
      }
    }
  }

  .header__menu {
    flex: 1;
    align-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: calc(var(--gap) * 2) var(--gap);
    border-bottom: 2px solid var(--grey-color);

    @media (min-width: var.$tablet) {
      border: none;
      align-items: center;
      padding: 0;
      gap: var(--gap);
    }
  }

  .header__mobile-trigger {
    @media (min-width: var.$tablet) {
      display: none;
    }
  }

  .header__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .header__lang {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      height: 25px;
      width: 25px;
      padding-right: 10px;
    }
  }

  nav {
    position: relative;
  }

  .header__svg_tablet {
    display: none;

    @media (min-width: var.$tablet) {
      display: inline;
    }

    @media (min-width: var.$desktop) {
      display: none;
    }
  }

  ul .header__link_tablet {
    @media (min-width: var.$tablet) {
      --top: 27px;

      position: absolute;
      right: -20px;
      width: 120px;
      height: var(--top);
      display: flex;
      align-items: center;
      justify-content: center;

      &_one {
        top: var(--top);
      }

      &_two {
        top: calc(var(--top) * 2);
      }

      &_three {
        top: calc(var(--top) * 3);
      }

      &_four {
        top: calc(var(--top) * 4);
      }
    }

    @media (min-width: var.$desktop) {
      position: static;
      width: auto;
      height: auto;
    }
  }

  .header__langs {
    position: absolute;
    top: 40px;
    right: -10px;

    background-color: var(--creame-color);
    padding: 15px 0;
    border-radius: 20px;

    a {
      display: block;
      width: calc(100% - 60px);
      padding: 5px 30px;

      &:hover {
        background-color: var(--white-color);
      }
    }

    @media (min-width: var.$tablet) {
      right: -15px;
    }
  }
}

.header__navigation {
  ul {
    flex-wrap: wrap;
    column-gap: var(--gap);
  }

  li {
    width: 80px;
    display: flex;
    justify-content: flex-start;
  }

  @media (min-width: var.$tablet) {
    position: relative;

    ul {
      flex-wrap: nowrap;
    }

    li {
      width: inherit;
    }
  }
}

.navigation ul {
  display: flex;
  column-gap: calc(var(--gap) * 2);
  row-gap: calc(var(--gap) / 2);
  font: var(--smaller-font);
  text-transform: uppercase;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  width: 150px;
  height: 35px;
}
