@use "variables" as v;

header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: calc(100% - (var(--gap) * 2));
  padding: var(--gap);

  @media (min-width: v.$bigger-mobile) {
    width: 510px;
  }

  @media (min-width: v.$tablet) {
    width: 720px;
    padding: 0;
  }

  @media (min-width: v.$desktop) {
    width: 1170px;
  }

  @media (min-width: v.$bigger-desktop) {
    width: 1320px;
  }
}
