.link {
  color: var(--black-color);
  transition: var(--transition);
  font-weight: 700;

  &:hover,
  &:active,
  &:focus,
  &_active {
    color: var(--violett-color);
  }

  &_small {
    font: var(--smallest-font);
    text-decoration: underline;
    color: var(--white-color);
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus,
    &_active {
      color: var(--blue-color);
    }
  }
}
