@mixin background-image(
  $image,
  $position: center,
  $size: cover,
  $repeat: no-repeat
) {
  background-image: url($image);
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}
