.text {
  &_biggest {
    font: var(--biggest-font);
  }

  &_gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      #501e9c 0%,
      #8169f1 30%,
      #8169f1 30%,
      #a44cee 73%,
      #ff847f 100%
    );
  }

  &_purple {
    color: #b5a6f5;
  }

  &_emoji {
    font-size: 20px;
  }

  &_with-bg {
    background-color: #f7f4ff;
    color: var(--violett-color);
    font-size: 12px;
    padding: 5px 10px;
  }
}
